In [1]:
import re
import requests
import pandas as pd
from bs4 import BeautifulSoup

Get the Wiki page and parse it with BeautifulSoup

In [2]:
wiki_toronto = BeautifulSoup(requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').content, 'lxml')

Extract postal codes, boroughs and neighborhoods and put them in a DataFrame

In [39]:
items = []
for item in wiki_toronto.table.find_all('td'):
    postal_code = item.p.b.text
    if item.p.span.text == "Not assigned":
        continue
    match = re.match("(?P<borough>.+)(\s\((?P<neighborhood>.+)\))*", item.p.span.text)
    
    if match is None:
        print(item.p.span.text)
        break
    
    items.append((postal_code, match.group('borough'), (match.group('neighborhood') or match.group('borough')).replace(' / ', ', ')))

df_toronto = pd.DataFrame([it for it in items], columns=['PostalCode', 'Borough', 'Neighborhood'])
df_toronto.tail()

,PostalCode,Borough,Neighborhood
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,East Toronto
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [36]:
df_toronto.shape

(103, 3)

In [24]:
# The code was removed by DSX for sharing.

In [29]:
locations = []

for item in df_toronto['PostalCode']:
        
    # construct URL to make API call
    url = 'https://maps.googleapis.com/maps/api/geocode/json?key={}&address="Toronto, ON {}"'.format(API_key, item)

    response = requests.get(url).json() # get response
    
    if response['status'] == 'ZERO_RESULTS':
        print(item)
        continue
    
    geographical_data = response['results'][0]['geometry']['location'] # get geographical coordinates
    latitude = geographical_data['lat']
    longitude = geographical_data['lng']
    locations.append((item, latitude, longitude))
    
df_locations = pd.DataFrame([it for it in locations], columns=['PostalCode', 'Latitude', 'Longitude'])
df_locations.tail()

    PostalCode   Latitude  Longitude
98         M8X  43.653654 -79.506944
99         M4Y  43.665860 -79.383160
100        M7Y  43.662744 -79.321558
101        M8Y  43.636258 -79.498509
102        M8Z  43.628841 -79.520999

In [21]:
df_locations

    PostalCode   Latitude  Longitude
0          M3A  43.753259 -79.329656
1          M4A  43.725882 -79.315572
2          M5A  43.654260 -79.360636
3          M6A  43.718518 -79.464763
4          M7A  43.662301 -79.389494
5          M9A  43.667856 -79.532242
6          M1B  43.806686 -79.194353
7          M3B  43.745906 -79.352188
8          M4B  43.706397 -79.309937
9          M5B  43.657162 -79.378937
10         M6B  43.709577 -79.445073
11         M9B  43.650943 -79.554724
12         M1C  43.784535 -79.160497
13         M3C  43.725900 -79.340923
14         M4C  43.695344 -79.318389
15         M5C  43.651494 -79.375418
16         M6C  43.693781 -79.428191
17         M9C  43.643515 -79.577201
18         M1E  51.253775 -85.323214
19         M4E  51.253775 -85.323214
20         M5E  43.644771 -79.373306
21         M6E  43.689026 -79.453512
22         M1G  51.253775 -85.323214
23         M4G  43.714357 -79.353116
24         M5G  43.657952 -79.387383
25         M6G  43.669542 -79.422564
26         M1H  51.253775 -85.323214
27         M2H  51.253775 -85.323214
28         M3H  43.754328 -79.442259
29         M4H  51.253775 -85.323214
..         ...        ...        ...
72         M2R  43.782736 -79.442259
73         M4R  43.715383 -79.405678
74         M5R  43.672710 -79.405678
75         M6R  43.648960 -79.456325
76         M9R  51.253775 -85.323214
77         M1S  43.794200 -79.262029
78         M4S  43.704324 -79.388790
79         M5S  51.253775 -85.323214
80         M6S  43.651571 -79.484450
81         M1T  43.781638 -79.304302
82         M4T  43.689574 -79.383160
83         M5T  43.653206 -79.400049
84         M1V  51.253775 -85.323214
85         M4V  43.693624 -79.396889
86         M5V  51.253775 -85.323214
87         M8V  51.253775 -85.323214
88         M9V  51.253775 -85.323214
89         M1W  51.253775 -85.323214
90         M4W  43.679563 -79.377529
91         M5W  43.646435 -79.374846
92         M8W  43.602414 -79.543484
93         M9W  43.706748 -79.594054
94         M1X  51.253775 -85.323214
95         M4X  43.667967 -79.367675
96         M5X  43.648429 -79.382280
97         M8X  43.653654 -79.506944
98         M4Y  43.665860 -79.383160
99         M7Y  43.662744 -79.321558
100        M8Y  51.253775 -85.323214
101        M8Z  51.253775 -85.323214

[102 rows x 3 columns]

In [43]:
import pickle

with open('df_toronto.p', 'wb') as f:
    pickle.dump(df_toronto, f)
    
with open('df_locations.p', 'wb') as f:
    pickle.dump(df_locations, f)

In [48]:
df_data = df_toronto.merge(df_locations, on="PostalCode", how='left')

In [49]:
with open('df_data.p', 'wb') as f:
    pickle.dump(df_data, f)

In [51]:
df_data.head(10)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937